---
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<html>
  <head><title>Dubai Projects | Meridian</title></head>
  <body>
    <h1>Dubai Projects</h1>
    <ul>
      {projects.map((p) => (
        <li><a href={`/projects/${p.data.id}/`}>{p.data.title}</a></li>
      ))}
    </ul>
  </body>
</html>
